* {
	border: solid black 1px;
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 2000px;
	background: white;
}

a {
	text-decoration: none;
}

/*Promo*/
.promo-bar {
	height: 40px;
}

#Promo-Link {
	display: inline-block;
	overflow: hidden;
	width:100%;
	height: 100%;	
}

#Promo-Container{
	font-family: "ff-enzo-web",tahoma,sans-serif;
	font-size: 10pt;
	font-weight: 100;
	background: #FA6938;
	color: white;
	height: 100%;
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 100px;
}

#Free-Shipping {
	background: #C8542D;
	color: white;
	margin: 0px;
	border-radius: 3px;
	display: inline-block;
	padding: 4px;
	height: 100%;

}

#Shipping-Box {
	margin: 0px;
	color: white;
	display: inline-block;
	vertical-align: middle;
}
/*-------------------------------------------------------*/

/*Header*/

.header {
	width: 100%;
	height: 400px;
	color: white;
	padding: 0;
	display: inline-block;
	vertical-align: top;
	
}

.header-left{
	width: 40%;
	padding-top: 100px;
	height: 100%;
	margin: 0;
	display: inline-block;
	vertical-align: top;
}

.header-link-box {
	display: inline-block;
}

.header-link {
	color: black;
	text-align: center;
}

.header-right {
	height: 100%;
	width: 30%;
	margin: 0;
	display: inline-block;
	vertical-align: top;
}

/*tie rack*/

.tie-rack {
	width: 100%;
	height: 400px;
	background: #E9E9E9;
}