* {
	color: #81858A;
	border: solid black 2px;
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 1000px;
}

a {
	text-decoration: none;
}

.header {

}

.header-links {
	font-size:  10pt;
}

.header-links a{
	padding: 0px;
	margin-left: 10px;
}

#Pricing {
	color: black;
}

#Nature-Banner{
	width: 100%;
	height: 40%;
	overflow: hidden;
}

#Nature-Image {
	width: 100%;
}

#Main-Content {
	width: 100%;
	padding-left:  100px;
	padding-right: 100px;
	padding-top: 50px;
	padding-bottom: 50px;
	
}

.planbox{
	display: inline-block;
	margin: 20px;
	height: 400px;
	width: 28%;
	background: green;

}

.solidbox{
	width: 100%;
	height: 30%;
}

#greenbox{
	background:#519251;
}
	
}
