* {
	color: #81858A;
	//border: solid black 2px;
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 1000px;
}

a {
	text-decoration: none;
}

ul {
	padding: 0px;
	text-align: center;
	list-style: none;
}

.header {

}

.header-links {
	font-size:  10pt;
}

.header-links a{
	padding: 0px;
	margin-left: 10px;
}

#Pricing {
	color: black;
}

#Nature-Banner{
	width: 100%;
	height: 40%;
	overflow: hidden;
}

#Nature-Image {
	width: 100%;
}

#Main-Content {
	width: 100%;
	padding-left:  100px;
	padding-right: 100px;
	padding-top: 50px;
	padding-bottom: 50px;
	display: inline-box;
	
}

.planbox{
	display: inline-block;
	vertical-align: top;
	margin: 20px;
	height: 400px;
	width: 28%;

}

.solidbox{
	width: 100%;
	height: 30%;
	padding: 0px;
	margin: 0px;
}


#Personal-Box{
	background:#519251;
}
	
#SmallB-Box{
	background:#2C4985
}

#Enterprise-Box{
	background:#111111
}	

.plan-details{
	margin:0px;
	background: #F7F7F7;
}

.additional-info{
	width: 40%;
	display: inline-block;
	vertical-align: top;
	margin:  30px;
}

.additional-title{
	color: black;
	font-size: 14pt;
}

